$SourceSansPro: 'SourceSansPro', 'Arial', sans-serif;
$HelveticaNeue: 'HelveticaNeue', 'Arial', sans-serif;
$WorkSans: 'WorkSans', 'Arial', sans-serif;

$black: #3b4858;
$grey: #8392a6;
$blue: #00b5ff;


$mediaWidthDesktop: 1580px;
$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 320px;
